body,

html{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	  background: url(bckg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}
button{
	background-color: #FF7400;
	font-family: sans-serif;
	font-weight: bold;
}
.buffer{
	height: 10rem;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-big{
	padding: 1rem 2rem;
}
.btn-primary{
	background-color: #F05F44;
	border: #F05F44;
}
.btn-primary:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 4px;
}

h1{
	font-size: 3rem;
	color: #224b74;
	text-align: center;
	position: center;
}
hr{
	border-color:#F05F44;
	border-width: 3px;
	max-width: 65px; /*limits the width*/
}